<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
	<head>
		<title>View Users</title>
	</head>
	<body>
		<h1>Hotel User Views</h1>
		<a th:href="@{/users/new}">Create New User</a>
		<table>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Phone</th>
			</tr>
			<tr th:each="u:${users}">
				<td th:text="${u.id}"></td>
				<td th:text="${u.fname}"></td>
				<td th:text="${u.lname}"></td>
				<td th:text="${u.phone}"></td>
				<td>
					<a th:href="@{'/users/delete/{id}'(id=${u.id})}">delete</a>
					<a th:href="@{'/users/edit/{id}'(id=${u.id})}">edit</a>
				</td>
			</tr>
		</table>
	</body>
</html>