<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
	<head>
		<title></title>
	</head>
	<body>
		<h1>Create Hotel New Message</h1>
		<form th:action="@{/messages/edit}" method="post" th:object="${message}">
			<div>
				<input th:field="*{id}" type="hidden">
			</div>
			<div>
				<label>Message Name:</label>
				<input th:field="*{name}" type="hidden">
			</div>
			<div>
				<label>Message Title:</label>
				<input th:field="*{title}">
			</div>
			<div>
				<label>Message Body:</label>
				<input th:field="*{content}" type="text">
			</div>
			
			<button type="submit">Create User</button>
		</form>
	</body>
</html>