<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
	<head>
		<title></title>
	</head>
	<body>
		<h1>Create Hotel New User</h1>
		<form th:action="@{/messages/new}" method="post" th:object="${message}">
			<div>
				<label>Name:</label>
				<input th:field="*{name}">
			</div>
			<div>
				<label>Title:</label>
				<input th:field="*{title}">
			</div>
			<div>
				<label>Message Body:</label>
				<input th:field="*{content}">
			</div>			
			<button type="submit">Create User</button>
		</form>
	</body>
</html>